body{
    margin: 0px;
    background-color: #c3bbbbc3;
    padding: 0%;
}

#background{
    z-index: -1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom,
        #d0bebe,
        #000000
    );
    background-size: 100% 100%;
}

.container{
    margin: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1px;
    padding-bottom: 2px;
    border-radius: 10px;
    background-color: rgba(129, 117, 117, 0.5);
    border: 3px dashed #0089c9;
}

.heading{
    color: #7b5e5eca;
    text-decoration: underline;
    font-size: 2em;
}

.code{
    border-left: 5px solid #897272;
    background: linear-gradient(
        to bottom,
        #d1c2c2,
        #3d3939 50%,
        #1a60a7 50%,
        #e6b3b3
    );
    background-size: 100% 36px;
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
    margin: 5px;
    overflow: hidden;
    font-size: 16px;
}

.input{
    border-left: 5px solid #47545b;
    background: linear-gradient(
        to bottom,
        #FFFFFF,
        #FFFFFF 50%,
        #DDDDDD 50%,
        #DDDDDD
    );
    background-size: 100% 36px;
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
    margin: 10px;
    overflow: hidden;
    font-size: 16px;
}

.output{
    border-left: 5px solid #081c29;
    background: linear-gradient(
        to bottom,
        #FFFFFF,
        #FFFFFF 50%,
        #DDDDDD 50%,
        #DDDDDD
    );
    background-size: 100% 36px;
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
    margin: 5px;
    overflow: hidden;
    font-size: 16px;
}

.description{
           font-family: "Poppins",sans-serif;

}
.description p{
           font-size: 14px;
}
.description button{
           padding: 10px;
           background-color: #ff0268;
           color: #ffffff;
           border: none;
           cursor: pointer;
}
.description:not(:last-child){
           margin-bottom: 50px;
}
.hide{
    display: none;
}
    

#titleContainer{
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}

#title{
    text-decoration: underline;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #ffffff;
}

#author{
    margin-top: 0px;
    color: #1b5e6f;
    margin-bottom: 0px;
    font-size: 1.2em;
}

#tableOfContents{
    color: #ffffff;
    font-size: 1.5em;
}
